In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings


warnings.filterwarnings("ignore")

df311 = pd.read_csv(r"/Users/pranavss/urban_echo/Urban_Echo/311_cleaned.csv")

df311.head()

,Address,City Council District,Department,Service Request Type,ERT (Estimated Response Time),Overall Service Request Due Date,Status,Created Date,Update Date,Closed Date,Priority,Unique Key,Lat_Long Location
0,"2701 CANTON ST, DALLAS, TX, 75226",2,Code Compliance,Code Concern - CCS,4 Business Days,Unknown,Closed,10/10/2020 10:13:43 AM,06/09/2023 02:55:51 AM,10/10/2020 10:13:43 AM,Standard,500t000000aSSweAAG,"(32.78202068982446000,-96.78441935829460000)"
1,"734 RAYENELL AVE, DALLAS, TX, 75217",5,Water Utilities,Storm Sewer Line Locate - DWU,5 Business Days,10/21/2020 10:59:00 PM,Closed (Duplicate),10/07/2020 09:19:11 AM,06/09/2023 02:50:12 AM,10/07/2020 09:19:11 AM,Standard,500t000000aRtagAAC,"(32.72536547086228000,-96.70604084210902000)"
2,"933 FERNWOOD AVE, DALLAS, TX, 75216",4,Code Compliance,Code Concern - CCS,4 Business Days,Unknown,Closed,10/07/2020 12:31:10 PM,06/09/2023 02:50:24 AM,10/07/2020 12:31:10 PM,Standard,500t000000aRxZ2AAK,"(32.73791239975091000,-96.80930802963174000)"
3,"6216 MOONGLOW DR, DALLAS, TX, 75241",3,Code Compliance,Code Concern - CCS,4 Business Days,Unknown,Closed,10/07/2020 11:25:08 AM,06/09/2023 02:50:22 AM,10/07/2020 11:25:08 AM,Standard,500t000000aRw4uAAC,"(32.67258130750240000,-96.79714596689998000)"
4,"1620 TAMPA BAY DR, DALLAS, TX, 75217",8,Code Compliance,Code Concern - CCS,4 Business Days,Unknown,Closed,10/08/2020 07:12:41 PM,06/09/2023 02:55:06 AM,10/08/2020 07:12:41 PM,Standard,500t000000aSFT2AAO,"(32.68602419361726400,-96.66254883934802000)"

In [2]:
df311.describe(exclude=np.number)

,Address,Department,Service Request Type,ERT (Estimated Response Time),Overall Service Request Due Date,Status,Created Date,Update Date,Closed Date,Priority,Unique Key,Lat_Long Location
count,1395463,1395463,1395463,1395463,1395463,1395463,1395463,1395463,1395463,1395463,1395463,1395463
unique,373923,29,247,18,17883,14,1342678,317646,1342678,7,1395038,601989
top,"1818 N WESTMORELAND RD, DALLAS, TX, 75212",Code Compliance,Code Concern - CCS,4 Business Days,Unknown,Closed,04/13/2021 07:47:33 AM,01/16/2024 05:25:18 PM,04/13/2021 07:47:33 AM,Standard,5008z000002C4wbAAC,"(32.77618411488676000,-96.79799019227583000)"
freq,1275,401131,375306,378579,364900,1289645,11,471,11,1031033,2,756

In [9]:
# convert the dtypes from object type to float, int64, etc.
# There are string values contained within this column - change the 
# 311_cleaned.csv file
#df311["City Council District"].astype(np.int64)

ValueError: invalid literal for int() with base 10: '13,14,9'

In [7]:
from sklearn.model_selection import train_test_split

# Extract feature and target arrays
X, y = df311.drop('ERT (Estimated Response Time)', axis=1), df311[['ERT (Estimated Response Time)']]

In [8]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
#print(X_train.dtypes)

In [9]:
import xgboost as xgb

# Create regression matrices
dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)

ValueError: DataFrame.dtypes for data must be int, float, bool or category. When categorical type is supplied, The experimental DMatrix parameter`enable_categorical` must be set to `True`.  Invalid columns:Address: object, Department: object, Service Request Type: object, Overall Service Request Due Date: object, Status: object, Created Date: object, Update Date: object, Closed Date: object, Priority: object, Unique Key: object, Lat_Long Location: object